.taskviewers-content{
    background: url('/src/icons/R.jpg') no-repeat center center fixed;



}
.taskDetail-content{
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* color:rgb(244, 227, 227); */
    background-size: cover;
    list-style-type:decimal;
    margin-left: 2em;
    color:rgb(254, 251, 251);
    font-size: 1.5rem;
    
}


