.Header {
    width: 100%;
}

.Header h1 {
    margin: 5px auto;
    color: #00f000; 
}

div.create-task {
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

div.create-task form.form {
    width: 50%;
    height: auto; 
    margin-top: 10px;
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    overflow-y: scroll;
}

div.create-task form.form div {
    width: 100%;
    margin-bottom: 1em; 
}

div.create-task form.form div.title {
    text-align: left; 
    display: flex;
}

div.create-task form.form div.title label {
    font-size: 1.8rem; 
    width: 25%;
}

div.create-task form.form div.title #title {
    width: calc(100% - 1em);
    color: #0c0b0b; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 8px; 
    font-size: 1rem; 
}

div.create-task form.form div.title #title::placeholder {
    color: #a0a0a0; 
    font-size: 1rem; 
    opacity: 1; 
}

div.create-task form.form div.description {
    text-align: left; 
    display: flex;
}

div.create-task form.form div.description label {
    font-size: 1.8rem; 
    width: 25%;
}

div.create-task form.form div.description #description {
    width: calc(100% - 1em);
    height: 100px;
    color: #0c0b0b; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 8px; 
    font-size: 1rem; 
}

div.create-task form.form div.description #description::placeholder {
    color: #a0a0a0; 
    font-size: 1rem; 
    opacity: 1; 
}

div.create-task form.form div.time {
    text-align: left; 
    display: flex;
}

div.create-task form.form div.time label {
    font-size: 1.8rem; 
    width: 25%;
}

div.create-task form.form div.time #time {
    width: calc(100% - 1em);
    color: #0c0b0b; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 8px; 
    font-size: 1rem; 
}

div.create-task form.form div.time #time::placeholder {
    color: #a0a0a0; 
    font-size: 1rem; 
    opacity: 1; 
}


/* Container for the viewers */
div.create-task form.form div.viewers {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 24%);/*repeat(auto-fill, minmax(150px, 1fr));  Adjust the minmax value based on your design */
    gap: 1em; /* Space between grid items */
    padding: 1em; /* Add padding around the grid */
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
}
div.create-task form.form div.viewers div{
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
}
div.create-task form.form div.viewers label {
    display: inline; /* Ensure labels are block elements */
    margin-left: 0.5em; /* Space between checkbox and label */
    font-size: 1.2rem;
    
}

/* Adjust input styling if needed */
div.create-task form.form div.viewers input[type="checkbox"] {
    margin-right: 0.5em; /* Space between checkbox and label */
}


div.create-task form.form div.create-button .submet{
    width: 100%;
    height: 50px;
    font-size: 2rem;
    color: #0a6dee;
    border-radius: 15px;
}