.Dashboard{
    /* background-color: #cee218; */
    display: flex;
    box-sizing: border-box;
    color: #fff;
}
.Dashboard .SideBar{
    background-color: #05697f;
    /* width: 20%; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    
}
.Dashboard .SideBar .title h1{
    font-size: 18px;
    text-wrap: nowrap;
    padding: 0 10px;
}

.Dashboard .SideBar .links{
    /* width: 100%; */
    /* height: 85%;  */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   

}

.Dashboard .SideBar .links div:hover, .Dashboard .SideBar .links div:hover a{
    background-color: #ddd;
    color: black;
}

.Dashboard .SideBar .links a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;

    /* border: 2px solid #ff0000; */
    /* border-radius: 10px; */
}

.Dashboard .Container{
    width: 100%;
    background-color: #e7e7e7;
}
.Dashboard .Container .Header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: end;
    /* border: 2px solid #efef00; */
}

#gsearch{
    width: 300px;
    border-radius: 10px;
    padding: 10px auto;
    font-size: 1rem;
    text-indent: 2px;
}

.Dashboard .Container .Header .create-Task{
    /* background-color: #0d76cc; */
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    padding-top: 15px;
    background-color: #05697f;
    transition: .3s;
    color: rgb(255, 255, 255);

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;


}

.Dashboard .Container .Header .create-Task:hover{
    background-color: #04D3FF;
    color: #0f1d20;
}

.Dashboard .Container .Header .create-Task .hyper-link:hover{
    background-color:#04D3FF;
}



.Dashboard .Container .main .data-view {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}
.Dashboard .Container .main .data-view th, .Dashboard .Container .main .data-view td {
    padding: 8px;
}
.Dashboard .Container .main .data-view th {
    background-color: #21222AF2;
    color: #d0c9cf;
    text-align: center;
}
.Dashboard .Container .main .data-view tr:nth-child(odd) {
    /* background-color: #706868; */
    color: black;
}
.Dashboard .Container .main .data-view tr:nth-child(even) {
    /* background-color: #706868; */
    color: black;
}
.Dashboard .Container .main .data-view tr:hover {
    background-color: #999da8;
    color: #eee;
}
.Dashboard .Container .main .data-view td {
    text-align: center;
}
.Dashboard .Container .main .data-view button {
    background-color:transparent;
    border-radius: 10px;
    color: rgb(9, 8, 8);
    border: 1px solid black;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.Dashboard .Container .main .data-view button:hover {
    background-color:#05697f;
    transition: .3s;

}